# Build results
bin/
obj/
*.exe
*.dll
*.pdb

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Visual Studio
.vs/

# JetBrains Rider
.idea/

# Resharper
*.DotSettings.user

# Others
*.bak
*.log
