<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IEczacim.Properties.Settings.IEczacimConnectionString"
            connectionString="Data Source=LAPTOP-5J9G4MFS\SQLEXPRESS;Initial Catalog=IEczacim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>